@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #000000;
    color: #E5E5E5;
    font-family: 'Inter', system-ui, sans-serif;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #14213D;
}

::-webkit-scrollbar-thumb {
  background: #1e3057;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FCA311;
}
